<div>
<% if !feed.blank? -%>
	<% reset_cycle -%>
	<%- feed.each do |entrie|
debugger
		-%>
		<div class="<%= cycle("even", "odd") -%>">
			<% if entrie.methods.include? "links" -%><img src="<%= entrie.links[1] -%>" class="avatar" width="48" height="48"><% end -%>
			<p><%= auto_link entrie.summary%></p>
			<small>
				<%= time_ago_in_words entrie.published%>
				<%= entrie.author%>
			</small>
			<%= link_to truncate(entrie.url, :length => 50,:ommision =>"..."), entrie.url, :class => "origin"%>
		</div>
	<%- end-%>
<% else %>
	<small class="no-entrie">Nenhuma atualiza&ccedil;&atilde;o!</small>
<% end %>
</div>