- unless title.nil?
	%h2 
		%span
			= title

.box
	- unless feed.blank? 
		- reset_cycle 
		- feed.each do |entry|
			%div{:class => cycle("even", "odd")}
				- unless entry[6].nil? 
					%img{:src => entry[6], :class => "avatar" }
				- else
					%img{:src => "http://www.artviper.net/screenshots/screener.php?w=70&amp;userID=17709aa3c85c360&amp;hash=5015222eafdaeddd4e2805645a99abb5&amp;url="+entry[5], :width=>"70", :height=>"52"}
				%p
					%b
						= auto_link entry[2]
				%small
					= time_ago_in_words entry[4]
					= t(:by)
					= author_photo(entry[1])
				- url = entry[5]
				- url = medium_photo_url(entry[6]) if photo?( entry[7])	
				- url = url_player_video(entry[5])+"&fs=1&rel=0&autoplay=1" if video?( entry[7])  	
				= link_to truncate(url, :length => 35,:ommision =>"..."), url, :class => "origin", :rel=>"shadowbox[#{entry[7]}]", :title => entry[2]

		- if params[:action] != "timeline"
			#videos_nav
				%span.folio
					= t(:paginate_legend)
					= @page
				- if @page.to_i > 1
					= link_to( t(:paginate_before), media_tag_paginate_path( params[:action], tag_nil?, @page.to_i-1), :class=>"before") 
				- else	
					= link_to( t(:paginate_before), "#", :class=>"before disable") 
				- if feed.size < 12
					= link_to t(:paginate_next), "#", :class=>"next disable"
				- else
					= link_to t(:paginate_next), media_tag_paginate_path( params[:action], tag_nil?, @page.to_i+1), :class=>"next"
			
	- else
		%small{:class => "no-entrie"}
			Nenhuma atualiza&ccedil;&atilde;o!

= javascript_include_tag "prototype", "application",  "shadowbox"