.texts 
	#microposts
		%h2 
			%a{:href => "/microblog/tag/#{params[:tag]}"} Microtexts
		#microposts_content
			= render :partial => 'texts', :locals => { :feed => @entries[:microblogs][0...5] }
			= link_to t(:see_more)+" microblogs", media_path( :tag => @tag, :action => "microblog"), :class => "show"
			
#videos
	.border
		.container
			%h2 
				%a{:href => "/video/tag/#{params[:tag]}"} Videos
			- unless @entries[:videos].blank? 
				.border
				#videos_content	
					%p
						- unless self.request.query_parameters.has_key? "video"
							= @entries[:videos].first[2]
							—
							= time_ago_in_words @entries[:videos].first[4]
							= @entries[:videos].first[1]
					= embed_video @entries[:videos].first[5]				
				.border
				#videos_thumbnails				
					- @entries[:videos][0...10].each do |entry|
						%a{:href => entry[5], :id => id_video(entry[5]) , :title => entry[2] + " &mdash; " + time_ago_in_words( entry[4]) +" "+ entry[1]} 
							= image_tag entry[6]
				#videos_nav
					%span.folio
						= t(:paginate_legend)
						777
					%a{:href=>"/" ,:class=>"before disable"}
						= t(:paginate_before)
					%a{:href=>"/" ,:class=>"next disable"}
						= t(:paginate_next)
					%span.ajax-loader
					= link_to t(:see_more)+" videos", media_path( :tag => @tag, :action => "video"), :class => "show"
					
	.border
#text2
	#blogs
		%h2
			= link_to "Blogs",{ :controller => "tag", :tag => @tag, :action => "blog"}		
		#blogs_content
			= render :partial => 'texts', :locals => { :feed => @entries[:blogs][0...3] }
		= link_to t(:see_more)+" blogs", media_path( :tag => @tag, :action => "blog"), :class => "show"
	#bookmarks
		%h2 
			%a{:href => "/bookmark/tag/#{params[:tag]}"} Bookmarks
		#bookmarks_content
			= render :partial => 'texts', :locals => { :feed => @entries[:bookmarks][0...3] }
			= link_to t(:see_more)+" bookmarks", media_path( :tag => @tag, :action => "bookmark"), :class => "show"
	#news
		%h2
			%a{:href => "/news/tag/#{params[:tag]}"} News		
		#news_content
			= render :partial => 'texts', :locals => { :feed => @entries[:news][0...3] }
		= link_to t(:see_more)+" not&iacute;cias", media_path( :tag => @tag, :action => "news"), :class => "show"
	#clear
#photos
	%h2 
		= link_to "Photos", :action => "photo", :tag => params[:tag]
	- unless @entries[:photos].blank? 
		#photos_content	
			%a{:href => @entries[:photos].first[5]} 
				= image_tag medium_photo_url( @entries[:photos].first[6])
			%h3 
				= @entries[:photos].first[2]
						
		#photos_thumbnails				
			- @entries[:photos][0...9].each do |entry|
				%a{:href => entry[5]+"?photo="+id_photo(entry[6]), :id => "photo="+id_photo(entry[6]), :title => entry[2] } 
					= image_tag entry[6]
					= entry[2]
					%span
						= time_ago_in_words entry[4]
						= t(:by)
						= author_photo(entry[1])
		#photos_nav
			%span.folio
				= t(:paginate_legend)
				777
			%a{:href=>"/" ,:class=>"before disable"}
				= t(:paginate_before)
			%a{:href=>"/" ,:class=>"next disable"}
				= t(:paginate_next)
			%span.ajax-loader
			= link_to t(:see_more)+" photos", media_path( :tag => @tag, :action => "photo"), :class => "show"
			
#tagcloud
	%h2
		%span 
			Tags 
			= t(:tagcloud_header)

	- if @entries.tagcloud.nil? #empty?
		%p.fail
			%span
			Nenhuma tag(s) encontrada
	- else
		- @mashup.tagcloud.sort[0...40].each do |tagcloud|
			%a{ :href=>"/#{tagcloud.downcase}"}
				= tagcloud.downcase
				&nbsp;
				
= javascript_include_tag :defaults, :cache => true
%a{:href=>"http://www.artviper.net", :title=>"design studio", :rel=>"follow", :class=>"advertise"} thumbnails by artViper designstudio