%h1 Mashup minuto a minuto
	
- if @entries.entries.size > 0
	%h2 
		entre agora e 	
		= time_ago_in_words @entries.entries[0][0]
	= render :partial => 'entries', :locals => { :feed => @entries.entries[0][1] } 	

- if @entries.entries.size > 1
	%h3 
		entre  	
		= time_ago_in_words @entries.entries[0][0]
		e							
		= time_ago_in_words @entries.entries[1][0]	
	%small
		= render :partial => 'entries', :locals => { :feed => @entries.entries[1][1] } 

- if @entries.entries.size > 2
	%h4 
		entre  	
		= time_ago_in_words @entries.entries[1][0]
		e							
		= time_ago_in_words @entries.entries[2][0]	
	%small
		%small
			= render :partial => 'entries', :locals => { :feed => @entries.entries[2][1] } 

- if @entries.entries.size > 2
	%h5 
		entre  	
		= time_ago_in_words @entries.entries[2][0]
		e							
		= time_ago_in_words @entries.entries[3][0]	
	%small
		%small
			%small
				= render :partial => 'entries', :locals => { :feed => @entries.entries[3][1] } 


= javascript_include_tag :defaults, :cache => true

