<h1>Mashup TimeLine</h1>

<h2>&uacute;ltimos 30 minutos</h2>
<%= render :partial => 'entries', :locals => { :feed => @entries[:half_hour] } %>

<h3>&uacute;ltima hora</h3>
<small>
	<%= render :partial => 'entries', :locals => { :feed => @entries[:hour] } %>
</small>

<h4>&uacute;ltimas 2 horas</h4>
<small>
	<small>
		<%= render :partial => 'entries', :locals => { :feed => @mashup[:two_hour] } %>
	</small>
</small>

<h5>&uacute;ltimas 4 horas</h5>
<small>
	<small>
		<small>
			<%= render :partial => 'entries', :locals => { :feed => @mashup[:four_hour] } %>
		</small>
	</small>
</small>

<h6>&uacute;ltimas 8 horas</h6>
<small>
	<small>
		<small>
			<small>
				<%= render :partial => 'entries', :locals => { :feed => @mashup[:eight_hour] } %>
			</small>
		</small>
	</small>
</small>
