#body
	%div
		#info
			= t(:home_about, :about => link_to( t(:about),about_url) )
		#last_up
			%h3 
				= t(:label_updates)
				
			.mask
				.trans
				.trans_left
				
				#spotlight
					- @spotlight.each_with_index do |entry,id|
						%div{:id=> "spot_#{id+1}", :class => entry[7] }
							= image_tag_thumbnail( entry )
							%p
								- unless photo? entry[7]
									%b
										= auto_link truncate(entry[2],:length =>140, :ommision => "...")
								- if photo? entry[7]
									= photo_scraping entry[3]
							%p.author
								= image_tag_avatar( entry)
								= author_photo( entry[1] ){|text| truncate(text, :length => 40)}
								= link_to truncate(entry[5], :length => 50,:ommision =>"..."), entry[5], :class => "origin"
			%p#nav.buttons
				- @spotlight.each_with_index do |entry,index|
					%a{:href => "#spot_#{index}", :onclick => "return false;"} &bull;
			%a{:href => "cancaonova", :class => "more_updates" } 
				= t(:more_updates)

		.clear	
	#popular
		.columm
			%h2.today
				%span
				Popular hoje
				
			- reset_cycle 
			= render :partial => 'list_tags', :locals => { :tags => @data[:last_day]} 
		.columm
			%h2.week 
				%span
				Popular da semana
			= render :partial => 'list_tags', :locals => { :tags => @data[:last_7_days]} 
		.columm
			- reset_cycle 
			%h2.top10 
				%span
				Top 10
			= render :partial => 'list_tags',  :locals => { :tags => @data[:all_time]}
	
	#clear


= javascript_include_tag "mootools-1.2.4-core-yc.js","_class.noobSlide.packed.js", "home", :cache => true

%script{:type => "text/javascript"}
	var nS4 = new noobSlide({
	box: $('spotlight'),
	items: $$('#spotlight div'),
	size: 480,
	handles: $$('#nav a'),
	autoPlay: true,
	onWalk: function(currentItem,currentHandle){
	this.handles.removeClass('active');
	currentHandle.addClass('active');
	currentHandle.addEvent('click',function(event){event.stop();});	
	}
	});
